@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

.yourVote{
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}

.imageDIV {
    position	: relative;
    width		: 100%; /* for IE 6 */
}

.divYourVote {
    margin-top: 10px;
}

.VSicon {
    width: 115px;
    position: absolute;
    margin-left: -50px;
    margin-top: -40px;
}

.CARD {
    width: 340px;
}

.imgOnCard {
    border: 2px solid #0c0d13;
    border-radius: 20px;
}

.titleCards {
    margin-top: 5px;
    width: 240px;
    margin-left: 15px;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    float: left;
    text-align: center;
}

.cards {
    width: 100px;
    background: #e1e3e6;
    margin-bottom: 20px;
    border: 3px solid #0c0d13;
    border-radius: 10px;

}
.cards:hover{
    border: 3px solid #346CAD;
    border-radius: 10px;
}

.cardGrid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 93vh;
    background: linear-gradient(#505050 20%, #535353 40%);
    overflow: hidden;
}

.TestImage {
    display: block;
    clear: both;
    height: 240px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
    -webkit-animation: pulsing 1s;
    animation: pulsing 1s;
    animation-iteration-count: 1;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0;
        transform: scale(0.8, 0.8)
    }
    75% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0;
        transform: scale(0.8, 0.8)
    }
    75% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        transform: scale(1, 1);
    }
}



@-webkit-keyframes choose {
    0% {
        -webkit-transform: scale(1, 1);

        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(1, 1);

        transform: scale(1, 1);
    }
}
@keyframes choose {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.TestImage:hover{
    border: 3px solid #346CAD;
    border-radius: 10px;
}

.looser{
    display: none;
}

.winner{
    display: block;
    clear: both;
    height: 300px;
    margin-top: 50px;
    margin-left: -33px;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
    pointer-events: none;
}
.textForImage1{
    border-radius: 3px;
    margin-top      : -48px;
    margin-left     : 3px;
    color			: white;
    font			: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing	: -1px;
    background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
    background		: rgba(0, 0, 0, 0.5);
    width           : 240px;
    padding			: 0px;
    -webkit-animation: pulsing 1s;
    animation: pulsing 1s;
    animation-iteration-count: 1;
}

.textForImage2{
    border-radius: 3px;
    margin-top      : -48px;
    margin-left     : 3px;
    color			: white;
    font			: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing	: -1px;
    background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
    background		: rgba(0, 0, 0, 0.5);
    width           : 240px;
    padding			: 0px;
    -webkit-animation: pulsing 1s;
    animation: pulsing 1s;
    animation-iteration-count: 1;
}

.picDIV {
    width: 240px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.roundTitle {
    animation: 3s ease-in-out 0s 1 slideBox;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

@keyframes slideBox {
    from {
        left:0;
        top:0;
    }
    to {
        left:calc(100% - 60%);
        top:calc(100% - 60%);
    }
}

/*АНИМАНИЯ РАУНДА*/

/* JUMP */
h1 {
    position: absolute;
    top: -200px;
    left: -130px;
    right: 0;
    bottom: 0;
    width: 0px;
    height: 725px;
    margin: auto;
    display: block;
    text-align: center;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}


/* ANIMATION */
@-webkit-keyframes bounce {
    100% {
        top: -20px;

        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
}

/*ЭФФЕКТЫ ДЛЯ ПОБЕДИТЕЛЯ*/
html,
body {
    position: relative;
    margin: 0;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: "Vibur", cursive;
    font-size: 1rem;
    background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
}

/*-- Sign Styles --*/
.sign {
    min-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.sign__word {
    font-size: 3.4rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    -webkit-animation: neon .08s ease-in-out infinite alternate;
    animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}
@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}
.link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #828282;
    text-decoration: none;
}
.link:focus, .link:hover {
    color: #c6e2ff;
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}

/*КОНЕЦ ЭФФЕКТОВ ПОБЕДИТЕЛЯ*/