.yourVote{
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}

.divYourVote {
    margin-top: 10px;
}

.CARD {
    width: 340px;
}

.imgOnCard {
    border: 2px solid #0c0d13;
    border-radius: 20px;
}

.titleCards {
    margin-top: 5px;
    width: 240px;
    margin-left: 15px;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    float: left;
    text-align: center;
}

.cards {
    width: 100px;
    background: #e1e3e6;
    margin-bottom: 20px;
    border: 3px solid #0c0d13;
    border-radius: 10px;

}
.cards:hover{
    border: 3px solid #346CAD;
    border-radius: 10px;
}

.cardGrid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 93vh;
    background: radial-gradient(ellipse at bottom, #24344c 0%, #0c0d13 100%);
    overflow: hidden;
}

.TestImage {
    display: block;
    clear: both;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
}

.TestImage:hover{
    border: 3px solid #346CAD;
    border-radius: 10px;
}

.looser{
    display: none;
}

.winner{
    display: block;
    clear: both;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
    pointer-events: none;
}
.textForImage{
    text-align: center;
}


/*ЭФФЕКТЫ ДЛЯ ПОБЕДИТЕЛЯ*/
html,
body {
    position: relative;
    margin: 0;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: "Vibur", cursive;
    font-size: 1rem;
    background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
}

/*-- Sign Styles --*/
.sign {
    min-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.sign__word {
    font-size: 3.4rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    -webkit-animation: neon .08s ease-in-out infinite alternate;
    animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}
@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}
.link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #828282;
    text-decoration: none;
}
.link:focus, .link:hover {
    color: #c6e2ff;
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}

/*КОНЕЦ ЭФФЕКТОВ ПОБЕДИТЕЛЯ*/